:root {
    --first_color: #e7eaf6;
    --second_color: #a2a8d3;
    --third_color: #38598b;
    --fourth_color: #113f67;
}

html{
    font-size: 62.5%;
}

img {
    width: 100%;
    
}

a {
    font-size: 1.5rem;
}

h4{
    font-size: 2rem;
}

p {
    font-size: 1.5rem;
}



body{
    background-color: var(--first_color);
    margin: 0;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to top, var(--fourth_color), var(--first_color));
}

.main-header{
    background-color: var(--second_color);
    padding: 1rem;
}

.main-header-navbar-ul {
    margin: 0;
    display: flex;
    justify-content: space-around;
    gap: 10rem;
}

.main-header-navbar-ul a {
    color: var(--fourth_color);
    text-decoration: none;
    font-weight: 500;
}

.main-header-navbar-ul a:hover{
    color: var(--first_color);
    

}

.presentation_section-container {
    border-radius: 2rem;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    box-sizing: border-box;
    background-color: var(--second_color);
    width: 100rem;
    height: 100rem;
    position: relative;
    
    
}

.presentation_section-container_banner_img {
    width: 100%;
    

}

.presentation_section-container-profile_image{
    width: 15rem;
    height: 15rem;
    
}

.presentation_section-container-profile_image img{
    border-radius: 3rem;
    border: 0.2rem solid black ;
}

.presentation_section-container_img_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: absolute;
    right: 42rem;
    top: 22rem;

}

.presentation_section-container_img_info p {
    margin: 0;
    font-weight: 300;
    
}

.presentation_section-container_img_info h4 {
    margin:1rem 0 ;
}

.presentation_section-container-div_skills {
    
    display: flex;
    justify-content: space-around;
    padding: 12.5rem 12.5rem 7.5rem 12.5rem;
    text-align: center;
    font-weight: 500;
    
    
}



.presentacion_section-container-skills img{
    background-image: linear-gradient(to top, var(--fourth_color), var(--second_color));
    border-radius: 3rem;
    border: 0.1rem solid  var(--fourth_color);
}


.div_skill_img {
    
    border-radius: 3rem;
    box-sizing: border-box;
    width: 10rem;
    height: 10rem;
}

.presentation_section-container-location_email{
    display: flex;
    justify-content: space-evenly;
    
    
}

.presentation_section-container-location_email div {
    display: flex;
    width: 15rem;
    height: 15rem;
    flex-direction: column;
    align-items: center;
    
}

.presentation_section-container-location_email svg{
    width: 100%;
}

.presentation_section-container-location_email div p{
    font-weight: 300;
}

.presentation_section-container-contanct_projects{
    position: absolute;
    bottom: 0px;
    
    display: flex;
    width: 100%;
    
}

.presentation_section-container-contanct_projects button {
    border: 0.1rem solid var(--fourth_color);
    width:100% ;
    padding: 1.5rem;
    font-weight: 700;
    background-color: var(--third_color);
}

.presentation_section-container-contanct_projects button:first-child{
    border-radius: 0% 0% 0% 1rem;
}

.presentation_section-container-contanct_projects button{
    border-radius: 0% 0% 1rem 0%;
}

.presentation_section-container-contanct_projects button:hover{
    background-color: var(--fourth_color);
    color: var(--first_color);
    cursor: pointer;
}

